---
permitRootLogin: 'yes'
homepath: /home

# TODO: component mdular_base should use these automatically
mdular_base::users:
mdular_base::groups:
mdular_base::sshUsers:
mdular_base::sudoers:
mdular_base::mysql:
  rootPassword: 'root'

# TODO: mdular_com should use these automatically
mdular_com::users:
  user1:
    ensure: present
    home: /home/user1
    managehome: true
    shell: /bin/bash
    uid: 10001
    #gid: 10001
    #groups:
    password: $6$/vcHKi.6$Iq4RoRnxocHdtHN1ypo8.0YtfNLRylY9.o9O/i221zSM8JXl8YsC5wzjOucPbORRX/pdAKu.6ZGUGsLf8gJlX.
              # = 123
              # mkpasswd -m sha-512 123
    purge_ssh_keys: true

mdular_com::groups:
#  dev:
#    ensure: present
#    gid: 401

mdular_com::sshUsers:
  user1: 
    type: 'ssh-rsa'
    key: 'public key string without spaces'

mdular_com::sudoers:
  user1: {}

mdular_com::mysql:
  databases:
    mdular_live:
      ensure: present
      charset: 'utf8'
      collate: 'utf8_general_ci'
  users:
    user1@localhost:
      ensure: present
      password_hash: '*23AE809DDACAF96AF0FD78ED04B6A265E05AA257'
      # 123
      # select password('123')
      # why no work?? echo -n 123 | sha1sum | awk '{print toupper($1)}'
      # add * in front
  grants:
    user1@localhost/user1.*:
      ensure: present
      options: ['GRANT']
      privileges: ['ALL']
      table: 'user1.*'
      user: 'user1@localhost'
